.img-fluid {
    transform: scale(0.3);
    border: 0px;
    margin: 0px;
    padding: 0px

}

.book-information {
    transform:scale(0.7);
    
}

.col{
    border: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
