
.grid-container {
    display: flex;
    justify-content: flex-start; /* Align contents to the left */
}
.book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bookcover {
    width: 110px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    
}

#book-information {
    text-align: center;
    transform: scale(0.7);
}
